p {
  font-size: 5em;
}

header {
  background-color: red;
  height: 200px;
  width: 100%;
}

footer {
  background-color: blue;
  height: 200px;
  width: 100%;
}

body {
  background-color: green;
  width: 100%;
  max-width: 1020px;
}
